.wrapper {
    position: relative;
}
.userPageContainer {
    position: relative;
    min-height: 662px;
}
.error {
    color: #E75626;
    font-size: 40px;
    padding-top: 40px;
}
.data {
    position: relative;
    z-index: 10;
    padding: 96px 0 169px;
}

.mainTitle {
    margin-bottom: 48px;
    font-size: 48px;
}

.title {
    font-size: 24px;
    margin-bottom: 8px;
}

.body {
    overflow-wrap: break-word;
    margin-bottom: 22px;
    color: #E75626;
    font-size: 32px;
}