.input {
    display: block;
    width: 100%;
    padding: 12px 18px;
    font-family: Avenir Next Cyr;
    font-size: 14px;
    line-height: 18px;

    border-radius: 30px;
    border: 1px solid #FFF;
    background-color: transparent;
    opacity: 0.5;
    outline: none;
    color-scheme: dark;
}

.input:focus {
    border: 1px solid #E75626;
}

.input:focus::placeholder {
    color: transparent;
}

.input:-webkit-autofill,
.input:-webkit-autofill:focus {
    transition: background-color 0s 600000s, color 0s 600000s;
}
