.hero {
    display: flex;
    justify-content: space-between;
    padding: 188px 0 60px;
}

.title {
    position: relative;
    z-index: 1;
    max-width: 1008px;
    margin-bottom: 45px;
    font-size: 120px;
    pointer-events: none;
}

.empty {
    font-size: 120px;
    color: transparent;
    -webkit-text-stroke: 1px #FFFFFF;
    text-stroke: 1px #FFFFFF;
}

.text {
    max-width: 421px;
    font-family: Avenir Next Cyr;
}

.wrapper {
    position: relative;
}

.orangeTitle {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    color: #E75626;
    -webkit-clip-path: circle(160px at right 184px top 109px);
    clip-path: circle(160px at right 184px top 109px);
    background-size: 320px 320px;
    background-clip: text;
    -webkit-background-clip: text;
    transition: 1s;
}

.statsTitle {
    margin-bottom: 42px;

    font-size: 32px;
    letter-spacing: 1px;
}

.stats {
    position: relative;
    z-index: 1;
    margin-top: 17px;
    text-align: center;
}

.item {
    padding-bottom: 8px;
    border-bottom: 0.5px solid #D2C4C4;
    margin-bottom: 8px;
}

.counter {
    margin-bottom: 12px;
    color: #E75626;
    font-size: 28px;
    letter-spacing: 1px;
}

.description {
    font-size: 18px;
}

@keyframes planet {
    0% {
        width: 320px;
        height: 320px;
    }
    100% {
        width: 350px;
        height: 350px;
    }
}

.rings {
    position: absolute;
    top: -51px;
    right: 24px;

    width: 320px;
    height: 320px;
}

.img {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;

    background: url(../../assets/images/planet.png) center/cover no-repeat;
    border-radius: 50%;
    overflow: hidden;
    transition: 1s;
}


.rings:hover .img {
    scale: 1.1;
}

.circle:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 446px;
    height: 446px;

    border-radius: 50%;
    background-color: #1E1E20;;
}

.circle:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 384px;
    height: 384px;

    border-radius: 50%;
    border: 1px solid #323232;
    outline: 1px solid #323232;
    outline-offset: -8px;
}

.circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 526px;
    height: 526px;

    border-radius: 50%;
    background: #171719;
    box-shadow: 0 0 8px 8px rgba(29, 29, 32, 1) inset;
}

.rings:hover .quarter {
    transform: translate(-50%, -50%) rotate(315deg);
}

.rings:hover .quarter .tag {
    animation: tag 1700ms forwards;
}

.quarter {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 486px;
    height: 486px;

    border-left: 1px solid transparent;
    border-right: 1px solid #E75626;
    border-top: 1px solid transparent;
    border-bottom: 1px solid #E75626;
    border-radius: 50%;

    transform: translate(-50%, -50%) rotate(-45deg);
    transition: all 1700ms cubic-bezier(0.83, -0.24, 0.35, 1.27);;
}

.quarterWrapper {
    width: 100%;
    height: 100%;
    transform: rotate(45deg);
}

.dot {
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #E75626;

}


.rings:hover .quarter .quarterWrapper .tag {
    transform: translate(50%, -50%) rotate(-360deg);
}

.tag {
    position: absolute;
    top: 0;
    right: 50%;


    width: 12px;
    height: 12px;

    transform: translate(50%, -50%);

    transition: all 1700ms cubic-bezier(0.83, -0.24, 0.35, 1.27);;
}

.tag:before {
    content: 'Q1 2022';
    position: absolute;
    right: -50%;
    top: 50%;

    width: 80px;
    height: 30px;
    padding: 8px 12px;

    color: #171719;
    line-height: 1;
    font-size: 14px;

    border-radius: 15px;
    background-color: #fff;
    transform: translateY(-50%);
}

.tag:after {
    content: '';
    position: absolute;
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 0 5px 3px rgba(34, 60, 80, 0.2);
}


.dot1 {
    top: 0;
    right: 50%;

    transform: translate(50%, -50%);
}

.dot2 {
    top: 50%;
    right: 0;

    transform: translate(50%, -50%);
}

.dot3 {
    bottom: 0;
    right: 50%;

    transform: translate(50%, 50%);
}

.rings:hover + .orangeTitle {
    -webkit-clip-path: circle(176px at right 184px top 109px);
    clip-path: circle(176px at right 184px top 109px);
}