.btn {
    height: 39px;
    padding: 0 24px;

    font-size: 18px;
    line-height: 120%; /* 21.6px */

    border-radius: 30px;
    background: #E75626;
    border: 0;

    transition: 0.1s;

    cursor: pointer;
}
.btn:hover {
    background-color: #BE3B10;
}

.btn:disabled {
    opacity: 0.5;
}
.btn:disabled.btn:hover{
    background-color: #E75626;
    cursor: auto;
}