.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 0;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 199px;
    width: 100%;
    height: 44px;

    color: #FFF;
    font-size: 18px;
    line-height: 120%; /* 21.6px */

    border: 1px dashed #C7C7C7;
    background: #5A5A5A;
}

.wrapper {
    position: relative;
    max-width: 161px;
    width: 100%;
    height: 100%;
}

.account {
    display: block;
    max-width: 145px;
    white-space: nowrap;
    margin-left: auto;

    color: #E75626;

    text-overflow: ellipsis;
    overflow: hidden;
}